[project]
name = "python-free-threading-vs-multiprocessing-benchmarks"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "psutil>=7.1.3",
]
